*{
				margin: 0;
				padding: 0;
				box-sizing: 0;
				font-family: 'Poppins', sans-serif;
}
body {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 100vh;
				background: #000000;
}
h1{
				position: relative;
				font-size: 6em;
				color: #FF69B4;
}
h1::before{
				content: attr(data-text);
				position: absolute;
				color: #FFB6C1;
				width: 100px;
				overflow: hidden;
				white-space: nowran;
				border-right: 4px;
				animation: animate 8s linear infinite;
				filter: drop-shadow(0 0 20px #FFB6C1) drop-shadow(0 0 50px #FFB6C1);
}
@keyframes animate{
0%, 10%, 100%{
				width: 0;
				}
70%, 90%{
				width: 100%;
				}
}